doctype html
html
    head
        meta(charset='utf-8')
        title Evapolar test task :: footer
        meta(name='viewport' content='width=device-width, initial-scale=1')
        link(rel="stylesheet" href='https://fonts.googleapis.com/css?family=Open+Sans:400,600')
        link(rel='stylesheet' href='assets/css/style.min.css')
        link(rel='icon' href="assets/favicon.ico")

    body
        div(class='c-container')
            footer(class='c-footer')
                div(class='row')
                    div(class='column')
                        div(class='c-footer__text-wrapper')
                            h3(class='c-footer__heading') Get in touch

                            p(class='c-footer__paragraph')
                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                                | magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                | consequat.

                            div(class='c-footer__list-wrapper')
                                div(class='row')
                                    div(class='column')
                                        h3(class='c-footer__list-heading') Resources

                                        ul
                                            li(class='c-footer__list-el') Tour
                                            li(class='c-footer__list-el') Customers
                                            li(class='c-footer__list-el') Pricing and Plans
                                            li(class='c-footer__list-el') New Features
                                            li(class='c-footer__list-el') Education
                                    div(class='column')
                                        h3(class='c-footer__list-heading') Features

                                        ul
                                            li(class='c-footer__list-el') Tour
                                            li(class='c-footer__list-el') Customers
                                            li(class='c-footer__list-el') Pricing and Plans
                                            li(class='c-footer__list-el') New Features
                                            li(class='c-footer__list-el') Education
                                    div(class='column')
                                        h3(class='c-footer__list-heading') How To’s

                                        ul
                                            li(class='c-footer__list-el') Tour
                                            li(class='c-footer__list-el') Customers
                                            li(class='c-footer__list-el') Pricing and Plans
                                            li(class='c-footer__list-el') New Features
                                            li(class='c-footer__list-el') Education

                    div(class='column')
                        div(class='c-footer__input-wrapper')
                            h3(class='c-footer__heading') Stay in touch

                            div(class='c-input-group')
                                div(class='o-field')
                                    input(class='c-field')

                                button(class='c-button c-button--with-icon')
                                    img(src='/assets/svg/check-symbol.svg' alt='Check symbol')

                            p(class='c-footer__paragraph c-footer__paragraph--darder c-footer__paragraph--smaller')
                                | We don’t send spam. Actually, who are we kiding, we’ll spam
                                | the shit out of you’r inbox